html{
    background-color: blueviolet;
}


.container-fluid{
    background-color: darkslategray;
}

.column{
    float: right;
    padding: 20px;
    flex: 20%;
    text-align: center;
    display: block;
    background-color: whitesmoke;
    
}

input[type="text"]
{
    background:transparent;
    color: white;
}
.foot{
    margin-top: 320px !important; 
}

input[type="text"]:focus
{
    background:transparent;
    color: white;
}
.btn-group {
    margin-right: 2 rem;
}
